.form, div {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 1rem;
}

label {
    align-self: flex-start;
}

input,
button {
    width: 100%;
    padding: .8rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    box-shadow: 1px 1px 2px var(--primary);
    color: var(--primary);
    font-size: 1rem;
}

button {
    margin-top: 2em;
    cursor: pointer;
    background: var(--primary);
    color: var(--white);
}

select {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    box-shadow: 1px 1px 2px var(--primary);
    border-radius: 2rem;
    border: none;
    outline: none;
    color: var(--primary);
    cursor: pointer;
    font-size: 1em;
}

option {
    cursor: pointer;
    border-radius: 2rem;
    background: var(--primary);
    color: var(--white)
}

.btn-small {
    width: 60%;
    margin-inline: auto;
}

