.balance {
    padding: 1rem 3rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 2px var(--primary);
    margin-bottom: 1rem;
    background: linear-gradient(90deg, var(--light), var(--white));
    font-weight: 500;
}

.filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

select {
    width: 90%;
    max-width: 400px;
    margin-block: .5rem 2rem;
    padding: 1rem;
    border-radius: .5rem;
    background: var(--light);
    border: none;
    outline: none;
    color: var(--primary);
    cursor: pointer;
}

option {
    cursor: pointer;
}

h3 {
    margin-bottom: 2rem;
}

.buttons {
    margin-bottom: 3rem;
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 480px;
}

.buttons button {
    width: 100%;
    font-weight: bold;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.expense {
    width: 90%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem
}

.exp-div {
    width: 70%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 1px 1px 2px var(--primary);
}

.left {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 2rem;
    background: var(--light)
}

.right {
    width: 20%;
    min-width: 120px;
    text-align: right;
    padding: 1rem 2rem 1rem .5rem;
    border-radius: 2rem;
}

button {
    border: none;
    outline: none;
    padding: .8rem;
    min-width: 70px;
    border-radius: 2rem;
    box-shadow: 1px 1px 2px var(--primary);
    background: linear-gradient(90deg, var(--light), var(--white));
    
    color: var(--primary);
    cursor: pointer;
}

@media screen and (max-width:600px){
    .right {
        min-width: 60px;
        padding: 1rem 1rem 1rem .5rem;
    }
    
    .left {
        padding: .5rem 1rem .5rem .8rem;
        flex-direction: column;
    }

    button {
        min-width: 50px;
        padding: .8rem .5rem;
    }
}