<section class="container list-container">
    <h2 class="title">My Balance</h2>
    <span class="balance">{{this.service.balance}}$</span>
   
    <!--div class="buttons">
        <button *ngIf="!this.service.filterPlus" (click)="this.service.showPlus()">Show Plus</button>
        <button *ngIf="this.service.filterPlus" (click)="this.service.showPlus()">Show All</button>
        <button *ngIf="!this.service.filterMinus" (click)="this.service.showMinus()">Show Minus</button>
        <button *ngIf="this.service.filterMinus" (click)="this.service.showMinus()">Show All</button>
    </div-->
    <div class="filter">
        <button *ngIf="!this.service.filterPlus" (click)="this.service.showPlus()">Income</button>
        <button *ngIf="this.service.filterPlus" (click)="this.service.showPlus()">Show All</button>
        <select #categoryItems (change)="filter(categoryItems.value)" name="" id="">
            <option value="all" [defaultSelected]="true">Show All Categories</option>
            <option *ngFor="let c of this.service.categories" value="{{c}}">{{c}}</option>
        </select>
        <button *ngIf="!this.service.filterMinus" (click)="this.service.showMinus()">Expenses</button>
        <button *ngIf="this.service.filterMinus" (click)="this.service.showMinus()">Show All</button>
    </div>

    <h3 *ngIf="this.service.filterPlus">Plus</h3>
    <h3 *ngIf="this.service.filterMinus">Minus</h3>
    <div class="list">
        <div *ngFor="let exp of this.service.filteredExpenses" class="expense">
            <div class="exp-div">
                <div class="left">
                    <p>{{exp.title}}</p>
                    <p>{{exp.amount}} $</p>
                </div>
                <p class="right">{{exp.category}}</p>
            </div>
            <button (click)="edit(exp)">Edit</button>
            <button (click)="delete(exp)">Delete</button>
        </div>

    </div>
</section>