.title {
    position: relative;
    font-size: 2em;
    margin-bottom: .8rem;
}

.balance {
    font-size: 1.4em;
    padding: .4rem 3rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 2px var(--primary);
    margin-bottom: 1rem;
    background: linear-gradient(90deg, var(--light), var(--white));
    font-weight: 500;
    margin-bottom: 2rem;
    transition: all .3s ease-in-out;
}

.balance:hover {
    background: var(--primary);
    color: var(--white);
    scale: 1.05;
}

.filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-block: .5rem 3rem;
}

select {
    width: 30%;
    max-width: 400px;
    font-weight: bold;
    padding: 1rem;
    box-shadow: 1px 1px 2px var(--primary);
    background: linear-gradient(90deg, var(--light), var(--white));
    border-radius: 2rem;
    border: none;
    outline: none;
    color: var(--primary);
    cursor: pointer;
    font-size: 1em;
}

option {
    cursor: pointer;
}

.filter button {
    font-weight: bold;
    border-radius: 2rem;
    padding: 1rem 2rem;
}

h3 {
    margin-bottom: 2rem;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.expense {
    width: 90%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem
}

.exp-div {
    width: 70%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 1px 1px 2px var(--primary);
}

.left {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 2rem;
    background: var(--light)
}

.right {
    width: 20%;
    min-width: 120px;
    text-align: right;
    padding: 1rem 2rem 1rem .5rem;
    border-radius: 2rem;
}

button {
    border: none;
    outline: none;
    padding: .8rem;
    min-width: 70px;
    border-radius: 2rem;
    box-shadow: 1px 1px 2px var(--primary);
    background: linear-gradient(90deg, var(--light), var(--white));
    color: var(--primary);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button::after {
    content: '';
    position: absolute;
    top:0;
    right: 102%;
    bottom: 0;
    left: -102%;
    border-radius: 2rem;
    background: var(--primary);
    box-shadow: 1px 1px 2px var(--primary);
    transition: all .3s ease-in-out;
    z-index: -1;
}

button:hover::after {
    inset: 0;
}

button:hover {
    color:  var(--white);
    z-index: 1;
}

@media screen and (max-width:600px){

    .filter select {
        width: 50%;
        padding: .5rem;
    }

    .filter button {
        padding: .5rem;
        width: 20%;
    }

    .right {
        min-width: 60px;
        padding: 1rem 1rem 1rem .5rem;
    }
    
    .left {
        padding: .5rem 1rem .5rem .8rem;
        flex-direction: column;
    }

    button {
        min-width: 50px;
        padding: .8rem .5rem;
    }
}