/* You can add global styles to this file, and also import other style files */
:root {
 --primary:  #4ba8a3;
 --light: #95f0aa3b;;
 --white: #f5f5f5;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: var(--white)
}

ul {
    list-style: none;
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 1rem;
    display: flex;
    color: var(--primary);
    background: var(--white);
}

app-root {
    width: 100%;
    min-height: 100vh;
}

header, nav {
    width: 100%;
    background: var(--primary);
    height: 70px;
}

.nav-container {
    width: 96%;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white)
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.container {
    width: 96%;
    min-height: calc(100vh - 70px);
    margin-inline: auto;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-bottom: 1.5rem;
}


